@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  p {
    /* font-family: 'Work Sans',Arial, Helvetica, sans-serif; */
    font-family: 'Tinos', serif;
    }

  .title{
    text-align: center;
    font-family: 'Work Sans',Arial, Helvetica, sans-serif;
  }

  .minititle{
    text-align: center;
    font-family: 'Work Sans',Arial, Helvetica, sans-serif;
    color:rgba(4, 20, 54, 0.9);
    margin-top: 1.5em;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 2px;
  }
  
  .flex-container{
    display: flex;
  }
  .divider {
    height: 2px;
    margin: 10px 30% 20px;
    text-align: left;
  }
  .gradient {
    background: linear-gradient(135deg, #de1051 0%, #0e2cef 100%);
  }
  .one {
    width: 500px;
    margin: 0 auto;
  }
  .two {
      width: 800px;
      margin: 0 auto;
  }
  p {
    font-size: 1em;
  }

  .container {
    /* font-family: 'Tinos', serif; */
    width: 1040px;
    margin: 0 auto;
  }

  #chart {
    width: 100%;
    text-align: center;
  }

  svg {
    max-height: 500px;
    padding: 20px;
    /* border: 1px solid black; */
  }
  
	#bars {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

  #treemap {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	#bars > svg {
		margin: 10px;
    width: 40%;
	}
  #bars2 {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}


  #bars2 > div {
		margin: 10px;
    width: 25%; /*telling me what % of screen the svg takes up*/
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Work Sans',Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    justify-content: space-between;

	}

  #treemap > svg {
		margin: 10px;
    width: 40%;
	}

  #breadcrumbs {
    cursor: pointer;
    margin-bottom: 8px;
    color: #369;
    text-decoration: underline;
    font-weight: 500;
    text-align: center;
    font-family: 'Work Sans',Arial, Helvetica, sans-serif;
    }
  }
  .x-axis > .tick > text {
    font-size: 16px;
  }
  .svg-tooltip {
    background: rgba(69, 77, 93, .9);
    border-radius: 5px;
    color: #fff;
    display: block;
    font-family: 'Work Sans',Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-transform: none;
    max-width: 320px;
    padding: 1rem;
    position: absolute;
    text-overflow: ellipsis;
    white-space: pre;
    z-index: 300;
    visibility: hidden;
  }

  .domain {
    display: none;
  }
  
  line {
    stroke: #ddd;
  }

  svg text {
    font-family: 'Work Sans',Arial, Helvetica, sans-serif;
    font-size:15px;
    alignment-baseline: middle;
    font-weight: bold;
  }

  .titletext {
    font-family: 'Work Sans',Arial, Helvetica, sans-serif;
    font-size:20px;
    alignment-baseline: middle;
    font-weight: bold;
  }

  .longtitletext {
    font-family: 'Work Sans',Arial, Helvetica, sans-serif;
    font-size:10px;
    alignment-baseline: middle;
    font-weight: bold;
  }
  
  .ring svg text {
    font-size: 12px;
  }
/*   
  .x-axis text {
    transform: translateY(-15px);
  }
  
  .y-axis text {
    transform: translateX(10px);
  } */

  foreignObject p {
    font-size: 10px;
  }

 